.btnList {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.btn {
  border: none;
  margin: 20px;
  /* color: #2a2a2a; */
  font-weight: bold;
  border-radius: 10px;
  padding: 12px 24px;
  cursor: pointer;
}
.btn:focus {
  scale: 1.1;
  box-shadow: 0 0px 0px 4px lightblue;
}

.btn:hover {
  outline: 0;
  transition: background-color 0.5s ease;
  transition: scale 0.5s ease;
  scale: 1.1;
  background-color: lightblue;
}
